tmp/
.npm/
.nvm/
.bash_history
.bash_logout
.lesshst
.hushlogin
.cache
.profile
.docker
.ssh
.sudo_as_admin_successful
.viminfo
.mysql_history
.sqlite_history
.wget-hsts
# TODO 後でcommit
initial_data/*
