[Unit]
Description=isucon12 qualify webapp
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=isucon
Group=isucon
WorkingDirectory=/home/isucon/webapp/node
ExecStart=/home/isucon/.nvm/versions/node/v18.6.0/bin/node build/main.js
# ExecStart=docker compose -f docker-compose-node.yml up --build
# ExecStop=docker compose -f docker-compose-node.yml down
Restart=always
